.rating_card .rating_description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  transition: all;
  animation-duration: 1s;
}

.rating_card:hover .rating_description {
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: unset;
  transition: all;
  animation-duration: 1s;
}

.spin {
  animation: spin 80s linear infinite;
}

@keyframes spin {
  from {
    
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.sale {
  animation: spin 20s linear infinite;
}
